/* players.css */

/* Сброс */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Основной фон */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.918));
    background-size: cover;
    color: white;
    min-height: 100vh;
}

/* Контейнер */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Шапка */
header {
    background: rgba(55, 160, 23, 0.63);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 50px;
    background-image: url('../images/favicon.ico');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
    padding: 8px 16px;
    border-radius: 5px;
}

nav a:hover {
    background: white;
    color: #000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HERO */
.hero {
    padding: 150px 0 50px;
    text-align: center;
}

.hero h1 {
    color: #ffffffb0;
    font-family: Supermolot, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 48px;
}

.hero p {
    color: #ffffffb0;
    font-family: Supermolot, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    font-size: 28px;
}

/* Разделы */
.position-title {
    color: #3f4147;
    font-family: Supermolot, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    font-size: 48px;
}

.testi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-bottom: 20px;
}

/* Сетка игроков */
.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-bottom: 100px;
}

.players-grod {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    margin-bottom: 100px;
}

.players-gred {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
    margin-bottom: 100px;
}

/* Карточка игрока */
.player-card {
    background: rgba(0, 255, 106, 0.089);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: transform .3s, box-shadow .3s;
}

.player-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.644);
}

.player-card img {
    width: 100%;
    height: 545px;
    object-fit: cover;
    border-bottom: 2px solid #00ff6a;
}

.player-info {
    padding: 15px;
}

.player-info h3 {
    font-size: 25px;
    margin-bottom: 7px;
}

.player-info span {
    color: #000000dc;
    font-family: Supermolot, sans-serif;
    font-weight: 900;
    font-size: 28px;
}

.player-number {
    display: block;
    font-weight: bold;
    font-size: 10px;
    color: black;
    background: #00ff6a;
    width: 65px;
    margin: 10px auto;
    padding: 10px 0;
    border-radius: 50px;
}

/* Футер */
footer {
    background: rgba(0, 0, 0, 0.9);
    padding: 40px 0;
    text-align: center;
    color: #aaa;
    border-top: 2px solid #00ff6a;
}

/* Адаптив */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 36px;
    }
    
    nav ul {
        gap: 15px;
    }
    
    .player-card img {
        height: 200px;
    }
}